<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Identificación
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)='onLogin(loginForm)'>
          <div class="form-group col-12">
            <label>Nombre</label>
            <input class="form-control" requiered ngModel name="name">            
          </div>          
          <div class="form-group col-12">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" ngModel name="password">
          </div>
          <div class="form-group col-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mr-2">Identificarse</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
